@media only screen and (min-width: 1199px) {
    /* Styles */
    html,
    body {
        margin: 0px;
        height: 100%;
        overflow: hidden;
        /* overflow: scroll; */
        /* -webkit-overflow-scrolling: touch; */
    }
    #contain {
        height: 100%;
    }
    #left {
        background: linear-gradient(150deg, rgb(5, 23, 34), rgb(11, 60, 146));
        height: 100%;
    }
    #right {
        /* background: linear-gradient(deg,rgb(70, 9, 9), rgb(202, 202, 202));  */
        height: 100%;
        background: linear-gradient(60deg, rgb(226, 226, 226), rgb(202, 202, 202));
    }
    /* ---- reset ---- */
    /* ---- particles.js container ---- */
    #particles-js {
        position: relative;
        height: 100%;
        background-position: 50% 50%;
    }
    #main-para {
        padding-left: 100px;
        position: fixed;
        text-align: right;
        font-family: 'Alegreya Sans SC', sans-serif;
        color: #fdfdfde1;
        font-size: 100px;
        text-transform: uppercase;
        padding-top: 130px;
        padding-bottom: 0px;
        line-height: 150%;
        filter: drop-shadow(16px 16px 10px rgba(34, 34, 34, 0.9));
    }
    .butn {
        color: white;
        text-align: center;
        padding-left: 30px;
    }
    .icon1 {
        text-align: center;
        padding-right: 20px;
        padding-bottom: 20px;
        margin-left: 20px;
        outline: none;
    }
    .icon {
        height: 30px;
        width: 30px;
        filter: grayscale(100);
    }
    .icon:hover {
        filter: grayscale(0);
    }
    .image {
        position: relative;
        height: 150px;
        width: 150px;
        border-radius: 50%;
        -webkit-filter: drop-shadow(16px 16px 10px rgba(0, 0, 0, 0.9));
        filter: drop-shadow(16px 16px 10px rgba(34, 34, 34, 0.9));
    }
    .image-pos {
        text-align: center;
        padding-top: 20%;
        /* padding-left: 40%;  */
    }
    .name {
        text-align: center;
        font-size: 43px;
        color: rgba(37, 37, 37, 0.911);
        font-family: 'Antic', sans-serif;
        /* filter: drop-shadow(9px 7px 4px rgba(0, 0, 0, 0.9)); */
        font-weight: 500;
    }
    .text {
        text-align: left;
        padding-top: -10px;
        padding-left: 80px;
        padding-right: 80px;
    }
    #para {
        color: #383838;
        font-family: 'PT Sans', sans-serif;
        font-size: 16px;
        text-align: justify;
        padding-bottom: 30px;
    }
    .btn-root {
        text-align: center;
        padding-bottom: 30%;
    }
    .btn-btn {
        background-color: rgb(22, 67, 146);
        /* Green */
        border: none;
        color: white;
        padding: 10px 25px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        border-radius: 10px;
        transition: 0.7s;
    }
    .btn-btn:hover {
        background-color: rgb(34, 115, 255);
        /* Green */
        border-radius: 10px;
        opacity: 1;
    }
    .headin {
        animation-duration: 4s;
        animation-iteration-count: 1;
    }
    /* .contain {
    padding-top: 50px;
} */
    /* -------------------------------- 

xclip 

-------------------------------- */
    .cd-headline.clip span {
        display: inline-block;
        padding: .2em 0;
    }
    .cd-headline.clip .cd-words-wrapper {
        overflow: hidden;
        vertical-align: top;
    }
    .cd-headline.clip .cd-words-wrapper::after {
        /* line */
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        width: 2px;
        height: 100%;
        background-color: #ffffff;
    }
    .cd-headline.clip b {
        opacity: 0;
    }
    .cd-headline.clip b.is-visible {
        opacity: 1;
        color: white;
        font-size: 150%;
        float: left;
        font-family: 'Righteous', cursive;
        -webkit-filter: drop-shadow(4px 4px 7px rgba(12, 12, 12, 0.507));
        filter: drop-shadow(4px 4px 7px rgba(0, 0, 0, 0.548));
    }
    .cd-title {
        position: relative;
        height: 160px;
        line-height: 230px;
        text-align: left;
    }
    .cd-title h1 {
        font-size: 2.4rem;
        font-weight: 700;
    }
}


@media only screen and (min-width: 1170px) {
    .cd-title {
        height: 200px;
        line-height: 300px;
    }
    .cd-title h1 {
        font-size: 3rem;
    }
}

.cd-intro {
    width: 90%;
    height: 100%;
    max-width: 768px;
    text-align: center;
    position: absolute;
    padding-top: 15%;
    padding-left: 7%;
    padding-right: 5%;
    padding-bottom: 18%;
    /* vertical-align: middle;     */
}

.cd-intro {
    margin: 4em auto;
}



@media only screen and (min-width: 1100px) {
    .cd-intro {
        margin: 6em auto;
    }
}

.cd-headline {
    font-size: 3rem;
    line-height: 1.2;
}



@media only screen and (min-width: 1100px) {
    .cd-headline {
        font-size: 6rem;
    }
}

.cd-words-wrapper {
    display: inline-block;
    position: relative;
    text-align: left;
}

.cd-words-wrapper b {
    display: inline-block;
    position: absolute;
    white-space: nowrap;
    left: 0;
    top: 0;
}

.cd-words-wrapper b.is-visible {
    position: relative;
}

.no-js .cd-words-wrapper b {
    opacity: 0;
}

.no-js .cd-words-wrapper b.is-visible {
    opacity: 1;
}

/* loading aniamtion */

#loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* Add animation to "page content" */

.animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
}

@-webkit-keyframes animatebottom {
    from {
        bottom: -100px;
        opacity: 0
    }
    to {
        bottom: 0px;
        opacity: 1
    }
}

@keyframes animatebottom {
    from {
        bottom: -100px;
        opacity: 0
    }
    to {
        bottom: 0;
        opacity: 1
    }
}

.loading {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #174880;
    z-index: 999999;
}